body {
    font-family: Arial;
    padding: 20px;
    margin: 0px;
}

button {
    margin-left: 10px;  
    
}
li {
    border: 1px green solid;
    text-align: center;
    padding: 20px;
    /* margin: 5px; */
}

